%% -*- mode:erlang;tab-width:2;erlang-indent-level:2;indent-tabs-mode:nil -*-
[ {sasl,
  [
   {sasl_error_logger, false},
   {utc_log, true}
  ]}
, {kernel,
   [ {shell_history, enabled}
   , {logger_level, error}
   , {logger, [
               %% Console
               { handler, default, logger_std_h
               , #{ formatter => { logger_formatter
                                 , #{ single_line => true
                                    , time_offset => "Z"
                                    , chars_limit => 32768
                                    , depth => 40
                                    , template => [time, " ", level, ": ", pid, " ", domain, " ", {module, [module, ": "], [mfa, ": "]}, {text, [text], []}, " { ", msg, " }\n"]
                                    }}
                  , filters => [ {domain_filter, {fun logger_filters:domain/2, {stop, sub, ['otp', 'sasl']}}}
                               ]
                  }
               }

               %% debug.log
              , {handler, debug_log, logger_std_h,
                 #{config => #{
                               file => "logs/debug.log",
                               max_no_files => 10,
                               max_no_bytes => 22428800,
                               modes => [{delayed_write, 0, 0}]
                              },
                   formatter => {logger_formatter, #{single_line => true,
                                                     time_offset => "Z",
                                                     chars_limit => 4096,
                                                     depth => 40,
                                                     template => [time, " ", {event, [event], [level]},  ":\t", pid, " ",domain, " ",  mfa, ":", line, "\t", {text, [text], []}, "{ ", msg, " }\n"]
                                                    }
                                },
                   filters => [ {domain_filter, {fun logger_filters:domain/2, {stop, sub, ['otp', 'sasl']}}}
                              ]
                  }
                }
              ]}
   ]
  }
].
